---
import ProjectCard from '../../../components/ProjectCard.astro';
import Breadcrumbs from '../../../components/Breadcrumbs.astro';
import Layout from '../../../layouts/MainLayout.astro';

interface Project {
  title: string;
  description: string;
  image?: string;
  href: string;
}

const breadcrumbItems = [
  { title: 'Главная', href: '/' },
  { title: 'Проекты', href: '/references/' },
  { title: 'Хранение негабаритных грузов' },
];

const projects: Project[] = [
  {
    title: 'К-раута, Финляндия',
    description: 'Аксессуары – важнейшее требование для эффективного размещения товаров в торговых центрах.',
    image: '/images/retail101.webp',
    href: '/references/mezoninnie_sistemi/k_rauta_finljandija/',
  },
  {
    title: 'Фольксваген, Швеция',
    description: 'Новый центральный склад запасных частей для Скандинавских стран.',
    image: '/images/stelazh_72.webp',
    href: '/references/mezoninnie_sistemi/fol_ksvagen_shvecija/',
  },
  {
    title: 'Кодин Терра, Финляндия',
    description: 'Паллетные стеллажи Constructor выбраны в качестве идеального заполнения торговых центров компании.',
    image: '/images/tk51.webp',
    href: '/references/mezoninnie_sistemi/kodin_terra_finljandija/',
  },
  {
    title: 'Агримаркет, Финляндия',
    description:
      'Компания Агримаркет выбрала паллетные стеллажи благодаря широкому ассортименту аксессуаров для размещения различных товаров в своих магазинах формата DIY.',
    image: '/images/retail92.webp',
    href: '/references/mezoninnie_sistemi/agrimarket_finljandija/',
  },
  {
    title: 'ИксЭль Биг, Дания',
    description:
      'Для обеспечения безопасной эксплуатации оборудования сотрудниками торгового центра и самообслуживания клиентов понадобился ряд умных технических решений.',
    image: '/images/retail122.webp',
    href: '/references/mezoninnie_sistemi/iksel_big_danija/',
  },
  {
    title: 'СЕАС-НВЕ, Дания',
    description:
      'В связи с недостатком площадей на околоскладской территории компании СЕАС-НВЕ установлены консольные стеллажи Constructor.',
    image: '/images/pallet12.webp',
    href: '/references/mezoninnie_sistemi/seas_nve_danija/',
  },
];
---
<Layout
  title="Проекты для хранения негабаритных грузов"
  description="Проекты для хранения негабаритных грузов ✅ Складские МС по доступным ценам ⭐⭐⭐⭐⭐ Звоните 📞 +375 (29) 178-70-18"
  ogSiteName="Сайт компании ЗАО «КМ-про»"
  ogUrl="https://stellazhi.by/references/mezoninnie_sistemi/"
  ogTitle="Проекты для хранения негабаритных грузов"
  ogDescription="Проекты для хранения негабаритных грузов ✅ Складские МС по доступным ценам ⭐⭐⭐⭐⭐ Звоните 📞 +375 (29) 178-70-18"
  ogImage="https://stellazhi.by/images/k_rauta_1_large.webp"
  ogLocality="ru_BY"
  canonicalUrl="https://stellazhi.by/references/mezoninnie_sistemi/"
  customMetas={[
    {
      name: 'keywords',
      content: 'Проекты для хранения негабаритных грузов',
    },
  ]}
>

  <Breadcrumbs items={breadcrumbItems} />

  <div class="max-w-7xl mx-auto px-4 py-8">
    <h1 class="text-white bg-gray-600 px-6 py-3 text-lg rounded-lg shadow mb-8">
      Проекты для хранения негабаритных грузов
    </h1>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {
        projects.map((project) => (
          <ProjectCard
            href={project.href}
            title={project.title}
            description={project.description}
            image={project.image}
          />
        ))
      }
    </div>
  </div>
</Layout>
