---
import ProjectCard from '../../../../components/ProjectCard.astro';
import Breadcrumbs from '../../../../components/Breadcrumbs.astro';
import Layout from '../../../../layouts/MainLayout.astro';

interface Project {
  title: string;
  description: string;
  image: string;
  href: string;
}

const breadcrumbItems = [
  { title: 'Главная', href: '/' },
  { title: 'Проекты', href: '/references/' },
  { title: 'Хранение на полках', href: '/references/storage_of_small_parts/' },
  { title: 'Стеллажи для зоны отбора' },
];

const projects: Project[] = [
  {
    title: 'Вольво ПВ, Швеция',
    description:
      'Для оптимизации технологии отбора заказов выбрана коробочная гравитационная стеллажная система Constructor.',
    image: 'https://stellazhi.by/uploads/content/image/size0/av72.png',
    href: '/references/storage_of_small_parts/stellazhi_dlja_zoni_otbora/vol_vo_pv_shvecija/',
  },
];
---

<Layout title="Реализованные проекты с применением стеллажей для зоны отбора">
  <Breadcrumbs items={breadcrumbItems} />

  <div class="max-w-6xl mx-auto px-4 py-8">
    <h1 class="text-white bg-gray-600 px-6 py-3 text-lg rounded-lg shadow mb-8">
      Реализованные проекты с применением стеллажей для зоны отбора
    </h1>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {
        projects.map((project) => (
          <ProjectCard
            href={project.href}
            title={project.title}
            description={project.description}
            image={project.image}
          />
        ))
      }
    </div>
  </div>
</Layout>
