---
import ProjectCard from '../../../../components/ProjectCard.astro';
import Breadcrumbs from '../../../../components/Breadcrumbs.astro';
import Layout from '../../../../layouts/MainLayout.astro';

interface Project {
  title: string;
  description: string;
  image: string;
  href: string;
}

const breadcrumbItems = [
  { title: 'Главная', href: '/' },
  { title: 'Проекты', href: '/references/' },
  { title: 'Хранение на полках', href: '/references/storage_of_small_parts/' },
  { title: 'Полочные стеллажи' },
];

const projects: Project[] = [
  {
    title: 'Косанит, Бельгия',
    description: 'Склад для крупного поставщика отопительного и сантехнического оборудования.',
    image: '/images/retail111.webp',
    href: '/references/storage_of_small_parts/polochnie_stellazhi/kosanit_bel_gija/',
  },
  {
    title: 'Джула Постордер АБ, Швеция',
    description:
      'Последней инвестицией компании стало приобретение складского комплекса емкостью 56 тыс. п.м. и оборудование его стеллажными системами Constructor P90.',
    image: '/images/stelazh_112.webp',
    href: '/references/storage_of_small_parts/polochnie_stellazhi/dzhula_postorder_ab_shvecija/',
  },
  {
    title: 'Манса Автоделе, Дания',
    description: 'Склад для хранения автомобильных запасных частей.',
    image: '/images/stelazh_31.webp',
    href: '/references/storage_of_small_parts/polochnie_stellazhi/mansa_avtodele_danija/',
  },
  {
    title: 'Поло Экспрессверсанд, Германия',
    description:
      'Современная полочная система была установлена для одного из лидирующих поставщиков спортивной одежды и аксессуаров для мотоспорта.',
    image: '/images/retail32.webp',
    href: '/references/storage_of_small_parts/polochnie_stellazhi/polo_ekspressversand_germanija/',
  },
];
---

<Layout title="Реализованные проекты с применением полочных стеллажей">
  <Breadcrumbs items={breadcrumbItems} />

  <div class="max-w-7xl mx-auto px-4 py-8">
    <h1 class="text-white bg-gray-600 px-6 py-3 text-lg rounded-lg shadow mb-8">
      Реализованные проекты с применением полочных стеллажей
    </h1>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {
        projects.map((project) => (
          <ProjectCard
            href={project.href}
            title={project.title}
            description={project.description}
            image={project.image}
          />
        ))
      }
    </div>
  </div>
</Layout>
