---
import ProjectCard from '../../../../components/ProjectCard.astro';
import Breadcrumbs from '../../../../components/Breadcrumbs.astro';
import Layout from '../../../../layouts/MainLayout.astro';

interface Project {
  title: string;
  description: string;
  image: string;
  href: string;
}

const breadcrumbItems = [
  { title: 'Главная', href: '/' },
  { title: 'Проекты', href: '/references/' },
  { title: 'Хранение на полках', href: '/references/storage_of_small_parts/' },
  { title: 'Проекты с применением вертикальных каруселей (PATERNOSTER)' },
];

const projects: Project[] = [
  {
    title: 'Дом местного управления, Польша',
    description: '',
    image: '/images/ref142.webp',
    href: '/references/storage_of_small_parts/proekti_s_primeneniem_vertikal_nih_karus/dom_mestnogo_upravlenija_pol_sha/',
  },
];
---

<Layout
  title="Реализованные проекты с применением вертикальных каруселей (PATERNOSTER)"
  description="Реализованные проекты с применением вертикальных каруселей (PATERNOSTER) компанией ЗАО «КМ-про» ⭐⭐⭐⭐⭐ Звоните 📞 +375 (29) 178-70-18" 
  ogSiteName="Сайт компании ЗАО «КМ-про»"
  ogUrl="https://stellazhi.by/references/storage_of_small_parts/proekti_s_primeneniem_vertikal_nih_karus/"
  ogTitle="Реализованные проекты с применением вертикальных каруселей (PATERNOSTER)"
  ogDescription="Реализованные проекты с применением вертикальных каруселей (PATERNOSTER) компанией ЗАО «КМ-про» ⭐⭐⭐⭐⭐ Звоните 📞 +375 (29) 178-70-18"
  ogImage="https://stellazhi.by/images/bielany_5_large.webp"
  ogLocality="ru_BY"
  canonicalUrl="https://stellazhi.by/references/storage_of_small_parts/proekti_s_primeneniem_vertikal_nih_karus/"
  customMetas={[
    {
      name: 'keywords',
      content: 'Реализованные проекты с применением вертикальных каруселей (PATERNOSTER)',
    },
  ]}
>

  <Breadcrumbs items={breadcrumbItems} />

  <div class="max-w-7xl mx-auto px-4 py-8">
    <h1 class="text-white bg-gray-600 px-6 py-3 text-lg rounded-lg shadow mb-8">
      Реализованные проекты с применением вертикальных каруселей (PATERNOSTER)
    </h1>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {
        projects.map((project) => (
          <ProjectCard
            href={project.href}
            title={project.title}
            description={project.description}
            image={project.image}
          />
        ))
      }
    </div>
  </div>
</Layout>
