---
import ProjectCard from '../../../components/ProjectCard.astro';
import Breadcrumbs from '../../../components/Breadcrumbs.astro';
import Layout from '../../../layouts/MainLayout.astro';

interface Project {
  title: string;
  description: string;
  image?: string;
  href: string;
}

const breadcrumbItems = [
  { title: 'Главная', href: '/' },
  { title: 'Проекты', href: '/references/' },
  { title: 'Логистические операторы' },
];

const projects: Project[] = [
  {
    title: 'ДКИ Лоджистикс А/С, Дания',
    description:
      'Компания ежедневно доставляет более 40 тыс. поддонов по всей Дании, а также оказывает полный комплекс логистический услуг своим клиентам.',
    image: '/images/lo1.webp',
    href: '/references/logisticheskie_operatori/dki_lodzhistiks_a_s_danija/',
  },
  {
    title: 'Электролюкс Дистрипартс АБ, Швеция',
    description:
      'Компания Constructor оснастила для одного из ведущих логистических операторов склад площадью 35 тыс. кв.м.',
    image: '/images/lo2.webp',
    href: '/references/logisticheskie_operatori/elektroljuks_distriparts_ab_shvecija/',
  },
  {
    title: 'Ниссан Шенкер Лоджистикс, Швеция',
    description: 'Новый логистический центр в Геттебурге.',
    image: '/images/lo3.webp',
    href: '/references/logisticheskie_operatori/nissan_shenker_lodzhistiks_shvecija/',
  },
  {
    title: 'Сервистик АБ, Швеция',
    description:
      'Складской комплекс компании был модернизирован и оборудован шестью большими Tornado в дополнение к паллетным стеллажам P90 и полочным коснтрукциям Constructor.',
    image: '/images/lo52.webp',
    href: '/references/logisticheskie_operatori/servistik_ab_shvecija/',
  },
];
---

<Layout title="Проекты для логистических операторов">
  <Breadcrumbs items={breadcrumbItems} />

  <div class="max-w-[2400px] mx-auto px-4 py-8">
    <h1 class="text-white bg-gray-600 px-6 py-3 text-lg rounded-lg shadow mb-8">
      Проекты для логистических операторов
    </h1>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {
        projects.map((project) => (
          <ProjectCard
            href={project.href}
            title={project.title}
            description={project.description}
            image={project.image}
          />
        ))
      }
    </div>
  </div>
</Layout>
