---
import Layout from '../../layouts/MainLayout.astro';
import Breadcrumbs from '../../components/Breadcrumbs.astro';
import ProductCard from '../../components/ProductCard.astro';

const breadcrumbItems = [
  { title: 'Главная', href: '/' },
  { title: 'Продукция', href: '/products/' },
  { title: 'Полочные стеллажи' },
];

const products = [
  {
    title: 'Стандартные полочные стеллажи S90',
    href: '/products/small_part_handling/small_parts_shelving_s90_standard/',
    description:
      'Основная концепция полочных стеллажей Constructor S90 - максимальная гибкость и превосходная адаптация к вашим потребностям в хранении.',
    image: '/images/stelazh1.webp',
  },
  {
    title: 'Мобильные полочные стеллажи S90',
    href: '/products/small_part_handling/mobile_shelving_s90/',
    description:
      'Мобильные полочные стеллажи S90 предлагают огромные преимущества в условиях ограниченного пространства. Используя лишь один рабочий проход для доступа к индивидуальным полкам этот тип складского оборудования задействует до 70 % больше складской площади по сравнению со стационарным стеллажом.',
    image: '/images/stelazh2.webp',
  },
  {
    title: 'Многоэтажные полочные стеллажи S90',
    href: '/products/small_part_handling/mnogoetazhnie_polochnie_stellazhi_s90/',
    description:
      'Многоэтажные полочные стеллажи S90 представляют собой интеграцию полочного стеллажа Constructor S90 и мезонинных конструкций в сложную многоярусную систему.',
    image: '/images/stelazh3.webp',
  },
  {
    title: 'Узкопроходные полочные стеллажи S90',
    href: '/products/small_part_handling/uzkoprohodnie_polochnie_stellazhi_s90/',
    description:
      'Представляет собой опцию полочного стеллажа Constructor S90, позволяющую значительно увеличить полезную площадь склада по сравнению со стандартным полочным стеллажом.',
    image: '/images/stelazh4.webp',
  },
  {
    title: 'Коробочная гравитация стеллажи S90',
    href: '/products/small_part_handling/korobochnie_gravitacionnie_stellazhi_s90/',
    description:
      'Представляет собой опцию полочного стеллажа Constructor S90, позволяющую эффективно осуществлять подбор заказов.',
    image: '/images/stelazh5.webp',
  },
];

const advantages = [
  {
    title: 'Функциональность',
    description: 'обеспечивает максимальное использование пространства и удобный доступ к товарам',
  },
  {
    title: 'Качество',
    description: 'высокопрочные материалы и надежные элементы конструкции обеспечивают высокую нагрузку на стеллаж',
  },
  {
    title: 'Гибкость',
    description: 'возможность регулировки высоты полок в зависимости от размеров груза',
  },
  {
    title: 'Простота сборки',
    description: 'удобный монтаж и демонтаж без использования специального инструмента',
  },
];

const useCases = [
  {
    title: 'Хранение мелких деталей и компонентов',
    description:
      'Идеальное решение для организации складирования мелких предметов, таких как винты, гайки, электронные компоненты и другие. Система полок позволяет упорядочить и быстро получать доступ к необходимым деталям.',
  },
  {
    title: 'Хранение архивных документов',
    description:
      'Надежное хранение документов различных форматов и размеров, включая папки, коробки и файлы. Регулируемая высота полок позволяет адаптировать стеллажи под требования вашего архива.',
  },
  {
    title: 'Размещение инструментов и оборудования',
    description:
      'Идеально подходят для инструментов и оборудования на складе или в мастерской. Инструменты можно организовать по категориям и удобно разместить на полках для быстрого доступа и повышения эффективности работы.',
  },
  {
    title: 'Хранение товаров на продажу и демонстрационных образцов',
    description:
      'Создайте привлекательную систему выкладки товаров, обеспечивая их легкий доступ и привлекательное представление ассортимента.',
  },
];
---
<Layout
  title="Стеллаж металлический полочный сборный для склада"
  description="Купить полочные стеллажи металлические по доступной цене в Минске и других регионах Беларуси. Низкая цена, в наличии и под заказ ⭐⭐⭐⭐⭐ Звоните 📞 +375 (29) 178-70-18"
  ogSiteName="Сайт компании ЗАО «КМ-про»"
  ogUrl="https://stellazhi.by/products/small_part_handling/"
  ogTitle="Стеллаж металлический полочный сборный для склада"
  ogDescription="Купить полочные стеллажи металлические по доступной цене в Минске и других регионах Беларуси. Низкая цена, в наличии и под заказ ⭐⭐⭐⭐⭐ Звоните 📞 +375 (29) 178-70-18"
  ogImage="https://stellazhi.by/images/pientavarahylly_s90_1_large2.webp"
  ogLocality="ru_BY"
  canonicalUrl="https://stellazhi.by/products/small_part_handling/"
  customMetas={[
    {
      name: 'keywords',
      content: 'Полочные стеллажи для склада — металлические сборные конструкции',
    },
  ]}
>

  <div class="max-w-7xl mx-auto px-4">
    <Breadcrumbs items={breadcrumbItems} />

    <div class="bg-white rounded-lg shadow-md p-8 my-8">
      <h1 class="text-3xl font-bold mb-6">Полочные стеллажи</h1>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {products.map((product) => <ProductCard {...product} />)}
      </div>

      <div class="prose max-w-none mt-8">
        <p class="text-gray-700 mb-8">
          Стеллаж металлический полочный - это оптимальное решение для эффективной организации помещения и хранения небольших грузов и товаров на складе.
          Благодаря уникальной конструкции, состоящей из стоек и полок, и высокой функциональности, такие стеллажи стали неотъемлемой частью современного складского пространства.
        </p>

        <div class="mb-12">
         <div class="ttl2">Преимущества полочных стеллажей от "КМ-про":</div>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            {
              advantages.map(({ title, description }) => (
                <div class="bg-gray-50 p-6 rounded-lg">
                  <h3 class="text-lg font-bold text-blue-900 mb-2">{title}</h3>
                  <p class="text-gray-700">{description}</p>
                </div>
              ))
            }
          </div>
        </div>

        <div class="mb-12">
          <h2 class="text-2xl font-bold mb-6">Варианты использования стеллажных полочных систем:</h2>
          <div class="space-y-6">
            {
              useCases.map(({ title, description }) => (
                <div class="bg-gray-50 p-6 rounded-lg">
                  <h3 class="text-lg font-bold text-blue-900 mb-2">{title}</h3>
                  <p class="text-gray-700">{description}</p>
                </div>
              ))
            }
          </div>
        </div>

        <div class="mb-12">
          <h2 class="text-2xl font-bold mb-6">Ассортимент наших полочных стеллажей</h2>
          <div class="space-y-6">
            <div class="bg-gray-50 p-6 rounded-lg">
              <h3 class="text-lg font-bold text-blue-900 mb-2">Стандартные</h3>
              <p class="text-gray-700">
                Они изготавливаются из прочных и долговечных материалов, обеспечивающих надежность и стабильность.
                Стандартные стеллажи имеют регулируемые полки, что позволяет легко адаптировать их под различные виды
                товаров и требования вашего склада.
              </p>
            </div>

            <div class="bg-gray-50 p-6 rounded-lg">
              <h3 class="text-lg font-bold text-blue-900 mb-2">Мобильные</h3>
              <p class="text-gray-700">
                Обеспечивают максимальное использование складского пространства. Они состоят из стандартных стеллажей,
                установленных на подвижную базу, что позволяет легко перемещать их по складу. Такой подход может
                увеличить плотность хранения до 85%.
              </p>
            </div>

            <div class="bg-gray-50 p-6 rounded-lg">
              <h3 class="text-lg font-bold text-blue-900 mb-2">Многоэтажные</h3>
              <p class="text-gray-700">
                Это стеллажи, установленные на нескольких уровнях. Они позволяют использовать вертикальное пространство
                склада, увеличивая его вместимость. Например, двухуровневый стеллаж может увеличить вместимость склада в
                2 раза, а трехуровневый — в 3 раза.
              </p>
            </div>

            <div class="bg-gray-50 p-6 rounded-lg">
              <h3 class="text-lg font-bold text-blue-900 mb-2">Узкопроходные</h3>
              <p class="text-gray-700">
                Этот тип характеризуется высокими (до 10 метров и выше) и узкими проходами между стеллажами (от 1,5 до 2
                метров). Обычно используются в комбинации с специализированным оборудованием для складирования и
                извлечения товаров, таким как узкопроходные погрузчики, которые способны работать в этих узких
                пространствах. Благодаря этому можно обеспечить до 45% эффективное использование пространства по
                сравнению с традиционными системами хранения.
              </p>
            </div>

            <div class="bg-gray-50 p-6 rounded-lg">
              <h3 class="text-lg font-bold text-blue-900 mb-2">Коробочные гравитационные</h3>
              <p class="text-gray-700">
                Основной принцип работы — это использование силы тяжести для перемещения коробок или контейнеров с
                товаром вдоль наклонных роликовых направляющих. Когда одна коробка с товаром убирается с передней части
                стеллажа, следующая автоматически перемещается на ее место. Это обеспечивает непрерывное движение товара
                и упрощает процесс погрузки и выгрузки. Кроме того, они увеличивают оборот товара на 60%, обеспечивая
                более быстрый доступ.
              </p>
            </div>
          </div>
        </div>

        <div class="bg-blue-50 p-6 rounded-lg mb-8">
          <p class="text-gray-700 mb-4">
            При выборе металлических полочных стеллажей учитывайте тип и размеры товаров, пространственные ограничения,
            грузоподъемность, функциональность и настраиваемость, а также качество и надежность материалов. Не забывайте
            также про цену, которая должна быть оправданной и соответствовать бюджету вашей компании.
          </p>

          <p class="text-gray-700 font-medium">
            Не упустите возможность оптимизировать хранение на вашем складе. Оформите заказ прямо сейчас или свяжитесь с
            нашим консультантом, чтобы получить дополнительную информацию и подробную консультацию. Создайте эффективную
            систему хранения, экономя время и повышая производительность вашего складского пространства.
          </p>
        </div>
      </div>
    </div>
  </div>
</Layout>
